.itemImageThumb {
    max-height: 200px;
    border-radius: .25rem;
    max-width: 100%;
}

.itemListResult {
    padding-bottom: 20px;
    text-align: center;
}
.tradeListResult {
    padding-bottom: 20px;
    text-align: center;
    border-style: outset;
}

.tradeListResult a {
    color: black;
}

.itemDetail {
    text-align: center;
}

.authContainer {
    text-align: center;
}

.itemDetailImg {
    max-height: 700px;
}

.siteTitle {
    padding-left: 10px;
}

.itemListContainer {
    width: 80%;
    float: right;
}

.categoriesContainer {
    width: 20%;
    float: left;
    padding-left: 10px;
}

.categoryLink {
    display: block;
    padding-bottom: 5px;
}

.userBar {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 20px;
}
.form-inline {
    display: inline-block;
}

#notifications {
    position: fixed;
    top: 5px;
    margin-left:10%;
    width: 80%;
    z-index: 999;
}

.alert {
    margin: auto;
    width: 95%;
}

.giveImg {
    position: absolute;
    text-align: left;
}

.giveImg img {
    width: 40%;
    background-color: rgba(255,255,255,.5);
}

.tradeItemImg {
    width: 50%;
}

.getImg {
    position: absolute;
    width: 20%;
    right: 0%;
    bottom: 2%;
    background-color: rgba(255,255,255,.5);
}

.deltaMoney {
    font-weight: bold;
    font-size: xx-large;
}

.additionalPeopleDiv {
    position: absolute;
    top: 35%;
    font-weight: bold;
    font-size: large;
    width: 80%;
    left: 10%;
    height: 20%;
}

.cycleImg {
    opacity: 0.6;
}

.tradeContainer {
    width: 80%;
}

.tradeItem {
    position: relative;
}

.tradeSteps {
    position: relative;
}
.tradeSteps img {
    opacity: 0.65;
}
.tradeStatus {
    padding-top: 10px;
    position: relative;
}
.tradeTitle {
    text-align: center;
    font-weight: 900;
}

.stepItemImg{
    max-height: 100px;
}
.tradeStep {

    padding-bottom: 20px;
}

.statusForm {
    margin: 0 auto;
    padding-top: 20px;
}
.statusChangeButtonSpacer {
    padding-left: 100px;
}
.tradeStatusChange img {
    cursor: pointer;
}
.tradeDetail {
    padding-bottom: 20px;
    text-align: center;
    border-style: outset;
}

.chatMessageContainer{
    margin: 0 auto;
    width: 100%;
    border-style: outset;
    margin-top: 15px;
    margin-bottom: 50px;
}

.chatMessageFrom {
    font-size: small;
    text-align: right;
}
.chatMessageAuthor {
    margin-right: 5px;
}
.chatMessage:nth-child(even) {
    background-color: #c3e6e6;
}
.chatMessageBox {
    border: outset;
    height: 250px;
    overflow-y: scroll;
}
.newMessage {
    width: 95%;
    margin-top: 3px;
}
.sendMessageDiv {
    text-align: center;
}
.sendMessageDiv img {
    width: 35px;
}