<!DOCTYPE html >
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Trades</title>
</head>
<body>
<section>
    <div class="userBar">
        <span th:if="${loggedIn}">Hi <span th:text="${username}">UserName</span>! |</span>
        <span th:if="${loggedIn}"><a href="/myAds">Your Items</a> |</span>
        <span th:if="${loggedIn}"><a href="/myTrades">Your Trades</a> |</span>
        <span th:unless="${loggedIn}">You are not logged in! |</span>
        <span>
        <form class="form-inline" th:if="${loggedIn}" action="logout" method="POST">
            <input type="submit" value="Logout"/>
        </form>
        <span th:unless="${loggedIn}"><a href="/login/auth">Login</a></span>
    </span>
    </div>
    <div class="tradeTitle">Trade Opportunities</div>
    <div class="container-fluid tradeContainer" th:if="${tradesFound}">
        <div class="row">
            <div class="tradeListResult col-md-4" th:each="trade,iter: ${trades}">
                <a th:href="@{~/myTrade(id=${trade.id})}">
                <div class="tradeId">Trade <span th:text="${iter.index + 1}">index</span></div>
                <div class="tradeItem">
                    <div class="giveImg"><img src="static/give.png"></div>
                    <img class="tradeItemImg" th:attr="src=${trade.selling.itemImageUrl}"/>
                    <span class="deltaMoney" th:if="${trade.priceDelta < 0}"> + <span th:text="${0 - trade.priceDelta}"></span>&euro;</span>
                </div>
                <div class="tradeSteps">
                    <img src="/static/cycle.jpg"/>
                    <span class="additionalPeopleDiv">...You and <span th:text="${trade.getAdditionalPeople()}">N</span> More People Involved</span>
                </div>
                <div class="tradeItem">
                    <img class="tradeItemImg" th:attr="src=${trade.buying.itemImageUrl}"/>
                    <span class="deltaMoney" th:if="${trade.priceDelta > 0}"> + <span th:text="${trade.priceDelta}"></span>&euro;</span>
                    <img class="getImg" src="static/get.png">
                </div>
                    <div class="tradeStatus">
                        <span>Trade Status: <b><span th:text="${trade.tradeStatus}"></span></b></span>
                    </div>
                    <div class="tradeStatus">
                        <span>Your Answer: <b><span th:text="${trade.userStatus}"></span></b></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <span th:unless="${tradesFound}">No suggested trades for now...</span>
</section>
</body>
</html>